* {box-sizing: border-box;}

.page-wrap {
  margin: 0 auto;
  max-width: 730px;
  width: 95%;
  @media (min-width: 500px) {width: 90%;}

}

.main-content {
  padding-bottom: 3em;
  header {
    padding: 2em 0;
  }
}

.page-title {
  line-height: .9;
  margin: 0;
  text-align: center;
}

.button {
  float: left;
  position: absolute;
}

header.main {
  padding-top: 2em;
}

.posts {
  padding-top: .67em;
  text-align: center;
  dd {
    margin: 0;
    padding-bottom: 1em;
  }
}

blockquote {
  margin: 0 auto;
  padding: 1em 0;
  width: 75%;
  @media (min-width: 500px) {width: 70%;}
  @media (min-width: 700px) {width: 60%;}

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}
