.page-wrap {
  margin: 0 auto;
  max-width: 725px;
  width: 95%;
}

.main-content {
  padding-bottom: 3em;
  header {
    padding-top: 2em;
  }
}

.page-title {
  text-align: center;
}

.posts {
  text-align: center;
  dd {margin: 0;}
}
