* {box-sizing: border-box;}

.page-wrap {
  margin: 0 auto;
  max-width: 730px;
  width: 90%;
  @media (min-width: 500px) {width: 90%;}

}

.main-content {
  padding-bottom: 3em;
  header {
    padding: 1em 0 2em 0;
    @media (min-width: 500px) {padding-top:2em;}
  }
}

.page-title {
  text-rendering:auto;
  padding-top: .5em;
  margin: 0;
  text-align: center;
  @media (min-width: 500px) {line-height: .9; padding-top: 0;}

}

.button {
  display: inline-block;
  @media (min-width: 500px) {
    float: left;
    position: absolute;
  }
}

header.main {
  padding-top: 1em;
  @media (min-width: 500px) {padding-top: 2em;}
}

.intro {
  padding: 1em 0;
}

.posts {
  margin: 0;
  padding-bottom: 1.5em;
  text-align: center;
  dd {
    margin: 0;
    padding-bottom: 1em;
  }
}

blockquote {
  margin: 0 auto;
  padding: 1em 0;
  width: 90%;
  @media (min-width: 500px) {width: 85%;}
  @media (min-width: 700px) {width: 75%;}

}

.section {
  font-size: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}
